{% extends 'base.html.twig' %}

{% block main %}

    <h1>Login</h1>

    <form action="/login" method="post">
        <input type="hidden" name="_token" value="{{ session().get('csrf_token') }}"/>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}